<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="esriUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <esriUtil.Properties.Settings>
            <setting name="SASEXE" serializeAs="String">
                <value>C:\Program Files\SAS\SASFoundation\9.2\sas.exe</value>
            </setting>
            <setting name="MapServicesLocalDatabase" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="FuncDir" serializeAs="String">
                <value>unknown</value>
            </setting>
            <setting name="AppDownLoad" serializeAs="String">
                <value>http://www.fs.fed.us/rm/raster-utility/includes/downloads/</value>
            </setting>
            <setting name="HelpVersion" serializeAs="String">
                <value>unknown</value>
            </setting>
            <setting name="MosaicDir" serializeAs="String">
                <value>unknown</value>
            </setting>
            <setting name="ConversionDir" serializeAs="String">
                <value>unknown</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>yes</value>
            </setting>
        </esriUtil.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
